

.expander input[type='checkbox'] {
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    
        filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    
    margin-right:3%;
    margin-left: 50%;
    margin-bottom:10%;
    border:none;
}

.expander input[type='checkbox']:hover {
	-ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    
        filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    border:none;
}


.expander input[type='checkbox'] ~ .options {
    display:none;
}

input[type='checkbox']:checked ~ .options {
    display:inline;
}


.step input[type='checkbox'] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    
    border:none;
    
    filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    
    margin-right:3%;
    margin-left: 50%;
    margin-top:1%;
    
    position:absolute;
    right:1%;
}


.step input[type='checkbox']:hover {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    
        filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    
    border:none;
}

.step input[type='checkbox'] ~ .options {
    display:none;
}

.step input[type='checkbox']:checked ~ .options {
    display:inline;
}

.options input[type='checkbox'] {
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    
        filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    
    position:relative;
    border:none;
}

/*Overrides .step:hover*/
.options input[type='checkbox']:hover {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    
        filter: none; 
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -ms-filter: blur(0px);
    border:none;
}
