
iframe {
    width:95%;
    height:90%;
}

input[type="number"] {
    width:3.5em;
    text-align:center;
}

textarea {
    width: 100%;
}

pre {
    text-align:left;
    white-space: pre-line;
}

#textareawrap {
    border:1px solid #999999;
    margin: 5px 0;
    padding: 3px;
}

#error_message {
    z-index:99;
    position:absolute;
    padding:1px;
    margin-left:1%;
    background-color:red;
    color:white;
    font-size:0.8em;
    display:none;
}

#deleteall {
    font-size:0.5em;
}


#side_view div {
    text-align:center;
}

#side_view .step {
    background-color:#BBAAAB;
}

#pedigree_view {
    overflow:auto;
    max-height: 40%;
}

#pedigree_view img {
	margin-bottom:10px;
}

#results_view {
    display: none;
    overflow:auto;
    max-height: 40%;
}

#results_view .step {
    font-family:"Courier";
    font-size: 0.8em;
}

#summary_view {
    display: none;
}


#autohider .step {
    display:none;
}

#core_steps span {
    font-size:0.7em;
}
#core_steps span input {
    transform:scale(0.8,0.8);
    -moz-transform:scale(0.8,0.8);
}

#modes_of_inheritance {}
#optional_steps {}


#case_control_table {
    padding: 5px;
    text-align:right;
    display:none;
}

#case_control_table td {
    padding: 5px;
    border-top: 1px dashed #000000;
    min-width:50px;
}

#case_control_table td:first-child {
    min-width: 10%;
}

#table-wrapper {
    position:relative;
}

#table-scroll {
    height:300px;
    overflow:scroll;  
/*    margin-top:20px;*/
}

#table-scroll td {
    max-width:200px;
    min-width:33%;

}




/*#table-wrapper table * {
  background:yellow;
  color:black;
}*/

#table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}

.superclass {
    background-color:#99aa99; /*Main background color of each step*/
    border:2px solid #000000;
    border-radius:10px;

    font-family: "Trebuchet MS";
    color:white;
    text-align:center;

    display:block;
}


.step {
    background-color:#aaaabb; /*Main background color of each step*/
    color:black;
    
    border:1px solid #ddeedd;
    border-radius:10px;
    margin:2px;
    text-align:left;
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding:0.5%;
    
    min-height:1%;
    min-width: 50%;

    position:relative; /* parent with relative positioning ALLOWS child
                              elements to be ABSOLUTELY positioned! */
}




.options table {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.7em;
    font-weight: normal;
    margin-left:10%;
    /*
    border:1px dashed #888888;
    border-radius:10px;
    background-color: #aabbaa;*/
    
    margin-top:1%;
    /*padding:1%;*/
    
    min-width:50%;  
    text-align:right;
    margin-left:10px;   
}

.options .tooltip {
    font-size:80%;
    text-align:left;
    margin-left:10%;
}


.options textarea {
    width:100%;
}

.options table {
/*    background-color: #ffffff; */
    border:1px dashed #888888;
    border-radius:10px;
    background-color: #aabbaa;

}

/*
.options table {
    padding-left:1%;
}

.options table thead {
    text-align:center;
    margin-left:1%;
    background-color:#aaccaa;
}

.options table tbody{
    background-color:#aabbaa;
}

*/



/* Button controls */
.expander {
    text-align:center;
    border:1px dashed #888;
    border-radius:10px;
}

.expander h3 {
    margin-top:10px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.7em;
    text-align:right;
    padding-right:50px;
}


