body {
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 0px 0.4fr 10px 0.6fr 0px;
    grid-template-rows: 60px 10px auto 10px 10px; /*head, margin, content, margin, footer*/
    height:100vh;
}

/* Left */
#form-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow-y:scroll;
    border-radius: 10px;
}

/* Right */
/********* SIDE VIEWS **********/
/* Unhidden via PHP, and resized via JS*/
#side_view {
    display:none;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 0px 10px 10px 0px;
    padding: 2px;
    border: 1px solid #ccc;
    max-width: 100%;
    overflow-y: auto;
}

/* --- triple --- */
#side_view_sub {}
#pedigree_view {}
#summary_view {}

#results_view {
    color: #022;
    max-height: 300px;
}



/* Header -- floats seperate from all */
#float_header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color:black;
    border: 0px solid black;
    border-radius: 0 0 10px 10px;
    text-align:center;
    vertical-align: center;
    z-index:10;
    opacity:0.8;

    font-family: "Trebuchet MS";
    font-weight: bold;
}

#float_header_div {   
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:100px auto 100px;  
    padding:6px; 
    height:45px;
    line-height: 45px;

}


/* col1 */
#logo {
    grid-row-start:1;    grid-row-end:2;
    grid-column-start:1; grid-column-end:2;

    color:black;
    background-color:white;
    font-size: 2em;
    
    border:1px solid black;
    border-radius:0px 0px 0px 10px;
}

/* col2 */
#logo_title {
    grid-row-start:1;    grid-row-end:2;
    grid-column-start:2; grid-column-end:3;
    
    vertical-align: center;
    text-align:left;
    margin-left:10px;
    font-family:"Arial Black";
    color:white; /* fallback */
    color:rgba(255,255,255,255);
    font-size: 3vw;
}

/* col3 */
#logo_buttons {
    grid-row-start:1;    grid-row-end:2;
    grid-column-start:3; grid-column-end:4;
}


/* col3 */
#form_submit {
    background: rgb(19, 19, 19) linear-gradient(to bottom, rgb(61, 61, 81) 5%, rgb(62, 62, 82) 100%) repeat scroll 0% 0%; 
    border-radius: 8px;
    border: 1px solid rgb(75, 75, 75); 
    display: inline-block; 
    cursor: pointer; 
    color: rgb(255, 255, 255); 
    font-family: Arial; 
    font-size: 13px; 
    font-weight: bold; 
    padding: 10px 12px;
    text-decoration: none; 
    text-shadow: 0px 1px 0px rgb(91, 91, 91);
    margin-left:20%;
    display:inline;
}

/* col4 */
#kill_button {
    background: rgb(19, 19, 19) linear-gradient(to bottom, rgb(61, 61, 81) 5%, rgb(62, 62, 82) 100%) repeat scroll 0% 0%; 
    border-radius: 8px;
    border: 1px solid rgb(75, 75, 75); 
    display: inline-block; 
    cursor: pointer; 
    color: rgb(255, 255, 255); 
    font-family: Arial; 
    font-size: 13px; 
    font-weight: bold; 
    padding: 10px 12px;
    text-decoration: none; 
    text-shadow: 0px 1px 0px rgb(91, 91, 91);
    width:120px;
    margin-left:-20px;
    display:none;
}
