
.fileUpload {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #9A9;
  width: 90px;
  /*! width: 90px; */
  text-align: center;
}

.fileUpload input.uploadbutton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  width: 90px;
  text-align: center;
}


.fileplaceholder {
  border: 2px solid grey;
  padding: 3px;
  border-radius: 8px;
  font-size: 10px;
  width:90px;
}


/* PEDIGREE specific */
.fileUploadPed {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #9A9;
  width: 100%;
  text-align: center;
}

.fileUploadPed p {
    font-size: 0.6vw;
    margin-top:0px;
    color: black;
    text-align: center;
}

.fileUploadPed input.uploadbuttonPed {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
  text-align: center;
}


.fileplaceholderPed {
  border: 2px solid grey;
  padding: 3px;
  border-radius: 8px;
  font-size: 10px;
  color: #23235f;
  text-align: center;
}


/* Multiple VCF Uploader */
#multiple_vcf_upload_container{
    display: none;
}
