#pedigreehover {
    border:2px solid #777;
    border-radius: 10px;
    padding: 5px;
    margin-left:10px;
    margin-right:10px;
    text-shadow: none;
}

#pedigreehover:hover {
    background: #777;
    color:white;
}

#pedigreehover:hover ~ div {
    display:block;
}

#pedigrees {
    position: relative;
    z-index:99;
    display: none;
}

#pedigrees div {
    position: absolute;
    margin-top: -30px;
    background:white;
    border:1px solid black;
    border-radius: 10px;
    left:105%;
    width:25vw;
}

#pedigrees div img {
    padding:10px;
    width: 35%;
    display: inline;
}


input.search{
    width:100%;
    margin:1px;
}

.cases {  background: pink;}
.controls {  background: cyan;}

.zygo_NON {
    color:grey;
    padding:2px;
}
.zygo_HET  {
    font-weight: 600;
    position: relative;
    z-index: 9;
    background: #5505;
    color:white;
    border-radius: 5px;
    padding:1px;
}

.zygo_HET:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0%;
    bottom: 0;
    left: 50%;
    background: #8808;
    border-radius: 0px 5px 5px 0px;
}

.zygo_HOM {
    font-weight: 600;
    padding:1px;
    background: #5118;
    border-radius: 5px;
    color: white;
}

.arrowup { display:none;}
.arrowdn { display:none;}
.arrowbth{ display:none;}

.sort:not(.asc):not(.desc) > span.arrowbth {  display: inline; }

.sort+.desc > span.arrowup {
    display:inline;
}

.sort+.asc > span.arrowdn {
    display:inline;
}


/* HOVER */
.contextable {  display:none;position:relative;}
.contextable div {
    position:absolute;
    width:100%;
    background:#cfc;
    z-index:99;
    border-radius: 0 0 10px 10px;
    padding-right: 10px;
}

.contparent:hover {background: #cfc;}
.contparent:hover .contextable {display: block; background: #cfc;} 

.chrom {
    text-align: center;
    min-width: unset;
}

.gene {
    text-align: center;
    z-index: -5;
}

.gene div {
    position: relative;
}

.isonum {
    background: #3358;
    font-size: 0.5em;
    border-radius: 3px;
    padding: 1px;
    margin-top:3px;
    right: -19px;
    bottom:0px;
    position:absolute;
}

.ref {
    background: #0f02;
}



.pos {
    text-align: right;
    font-style: italic;
    min-width: unset;
    padding-left: 5px;
    padding-right: 5px;
}


table {
    border-collapse: collapse;
    font-size: 1.2vw;
    text-align: center;
    border: 3px solid #101;
    margin: 5px;
}

table thead {
    border: 3px solid #101;
    border-radius: 40px;
    background: #555
}

tr {
    border: 1px solid white;
    z-index: -1;
    background: white;
}

tbody td {
    border-top: 0px;
    border-bottom: 0px;
}

tbody td:nth-child(1),td:nth-child(2){
    background: #eee;
    color: black;
    text-shadow:
    -1px -1px 0px white,
    1px -1px 0px white,
    -1px  1px 0px white,
    1px  1px 0px white;
}

tbody td:nth-child(3){
    background: #777;
    color:#000;
    font-style: italic;
    min-width: unset;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    /*text-shadow:
    -1px -1px 0px #000,
    1px -1px 0px #000,
    -1px  1px 0px #000,
    1px  1px 0px #000; */
}

tbody td:nth-child(4){
    border-width: 1px;
    background: #779;
    color: white;
    font-weight: 700;
    z-index: 99;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-right:20px;
}

tbody td:nth-child(6){
    text-align: right;
        padding-right: 10px;
}

tbody td:nth-child(5),td:nth-child(6),td:nth-child(7){
    background:#cce;   
}

tbody td:nth-child(8){
    border-left: 2px solid black;
}


tbody td {
    background-color:white;
    min-width:100px;
}
