
body {
	background-color:white;
}

a:link {
    text-decoration: none;
}


#loading_screen {
    background-color:#333131;
    opacity: 0.9;
    color: #f00;
    font-size: 3em;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    z-index:99;
    text-align:center;
}


#depth_id {
    font-size:1.3em;
    border:2px solid black;
    border-radius:5px;
    width:100px;
    height:22px;
}

#depthabove_but {
    width:45px;
    height:20px;
}

#floating_header {
    position:relative;
    
}


#genetable_header_table div {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align:center;
    /*background-color:#A7C942;*/
    color:#fff;
    min-height:40px;
    float:left;
    margin-top:-20px;
}

#genetable_header_table div:last-child {
    background-color:#ccddcc;
    color:black;
    max-width:200px;
}

.groups {
    font-size:0.9em;
    border:2px solid;
    border-radius: 5px;
    width:250px;
    height:65px;
    padding:3px;
    float:left;
    margin:1px;
}


.buttons {
    font-size:0.7em;
}
.buttons input {
    border: 2px solid;
    border-radius: 5px;
    width:120px;
    position:relative;
    margin:1px;
    height:26px;
}

/*
.buttons div {
    display:inline-block;
}*/

/* -- UTR AND SPLICE --*/
.buttons .bigbutton {
    border: 2px solid;
    border-radius:5px;
    width:245px;
    height:22px;
    position:relative;
    margin-bottom:2px;
}

.buttons .bigbutton .bigbutton_sub input {
    position:absolute;
    margin:1px;
    right:0px;
    width:80px;
    top:0px;
    height:20px;
}

.buttons .bigbutton .bigbutton_sub input:first-child {
    right:82px;
}


.buttons .bigbutton .bigbutter {
    position:absolute;
    left:0px;
    width:245px;
    height:100%;
}

.buttons .bigbutton .bigbutter p {
    font-size:1.3em;
    position:absolute;
    top:-10px;
    left:10%;
    
}


#genetable {
    font-family:courier, "courier new", monospace;
    border-collapse:collapse;
    margin-top: 200px;
}

#genetable td {
    background-color:white;
    min-width:100px;
}

#genetable td, #genetable th {
    word-wrap: break-word;
    font-size:0.8em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}

#genecounter {
    position:fixed;
    font-size:1em;
    bottom:0px;
    left:0px;
    background-color:#000000;
    color:white;
}

/* Classes */
.gene {
    color:#111111; 
    font-weight: bold;
    text-align:center;
    width:100px;
}

.data .types {color:blue;}
.data .mutie {display:inline-block;}
.data .varies {color:#00aa00; padding-right: 5px;}
.data .common {color:black;}
.rsid {
    color:magenta;
    font-style: italic;
    padding-right:5px;
}


/* Common coloring */
.data .mutieC {display:inline-block;}
.data .variesC {color:#de300b;}
.nasilC { 
    display:inline-block;
    border: 1px solid #dddddd;
    border-radius:3px 3px 3px 3px;
    width:150px;
}

.case {    background: #0af;}
.case a{    color: white;}
.control {    background: #f30;}
.control a {    color: blue;}



.depth {
    color:purple;
    width:50px;
    border:1px solid #ffccff;
    border-radius:5px;
    float:right;
    display:inline-block;
}
.chrom {font-size:0.8em; color:#FF6666; font-family:courier, "courier new", monospace;}

.nasil { 
    display:inline-block;
    border: 1px solid #dddddd;
    border-radius:3px 3px 3px 3px;
    width:150px;
}

.common {
    background-color:#ccddcc;
    max-width:200px;
}

.common_genes {
    border-bottom:1px solid #ddeedd;
    border-right:1px solid #ddeedd;
/*background-color:#aaffaa;*/
    border-radius:10px;
}
